:root {
  --ant-primary-color: orange;
  --ant-primary-color-hover: var(--ant-primary-color);
  /* --ant-primary-color-active: gray; */
  --ant-primary-5: var(--ant-primary-color);
  --ant-primary-color-outline: transparent;
}
